<!DOCTYPE html>
<html>
  <head>
    <title>Welcome to OpinionsApp</title>
    <meta charset="utf-8">
    <link href='https://fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="css/main.css">
  </head>
  <body>
    <nav class="navbar navbar-default">
      <div class="container">
        <a class="navbar-brand" href="/">Opinions App</a>
        <ul class="nav navbar-nav">
          <li><a href="#">Sobre</a></li>
        </ul>
      </div>
    </nav>
    <div class="container">
      <h1 align="center">Welcome to OpinionsApp</h1>
      <div class="row">
        <div class="col-md-12">
          <form action="/opinions" method="POST">
            <div class="form-group">
              <label for="author">Author</label>
              <input id="author" name="author" class="form-control" type="author" placeholder="Your name...">
            </div>
            <div class="form-group">
              <label for="opinion">Opinion</label>
              <input id="opinion" name="opinion" class="form-control" type="opinion" placeholder="Your opinion...">
            </div>
            <button type="submit" class="btn btn-primary">Say it!</button>
          </form>
        </div>
      </div>
      <div class="row">
        <% opinions.each do |o| %>
          <div class="col-md-12 main">
            <div class="panel panel-default">
              <div class="panel-body">
                <p><%= o[:opinion] %></p>
                <p><%= o[:author] %></p>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
    <footer class="footer">
      <div class="container">
        <p>São Paulo - SP</p>
      </div>
    </footer>
  </body>
</html>
